.ListItem {
  background-color: white;
  border: 1px solid #3F7D20;
  margin: 30px;
  width: 50%;
}

.Itens {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  width: 75%;
}

.Itens h4 {
  padding: 10px;
  width: 20%;
}

.Itens button {
  background-color: white;
  border: none;
  color: red;
  cursor: pointer;
  font-weight: 600;
  height: 25px;
  width: 50px;
}

.FormCheckout {
  align-items: center;
  background-color: white;
  border: 1px solid #3F7D20;
  display: flex;
  flex-direction: column;
  margin: 30px;
  width: 50%;
}

.FormCheckout input {
  background-color: whitesmoke;
  border: 1px solid;
  margin: 10px;
  width: 400px;
}

.FooterCheckout {
  background-color: #3F7D20;
  bottom: 0;
  color: white;
  height: 50px;
  position: fixed;
  width: 100%;
}

.FooterCheckout button {
  cursor: pointer;
  margin: 0 10px;
}
