.ProductsContainer {
  align-items: baseline;
  display: flex;
  flex-wrap: wrap;
  width: 50%;
}

.ProductsCards {
  height: 450px;
  width: 200px;
}

.ProductsCards img {
  width: 150px;
}

.FooterProducts {
  position: fixed;
  background-color: green;
  height: 50px;
  bottom: 0;
  width: 100%;
  color: white;
}
