.Header {
  background-color: #100F0F;
  color: white;
}

.BurgerBtn {
  background-color: #100F0F;
  float: left;
  margin-left: 8px;
  margin-top: 6px;
}

.TopTitle {
  margin-right: 30px;
}

.SideMenuContainer {
  background-color: #100F0F;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: -20px;
  position: absolute;
  transition: 0.6s;
  width: 200px;
}

.HideSideMenu {
  display: none;
}

.MenuItem {
  background-color: rgba(24, 23, 23, 0.6);
  color: white;
  font-size: large;
  height: 50px;
  margin-top: 8px;
  width: 100%;
}

.LogoutBtn {
  margin-top: 260px;
}
